*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}
.box{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding-bottom: 10px;
    color: whitesmoke;
    gap: 10px;
    border-radius: 50px;

    border: 5px solid transparent;

    background:
        linear-gradient(black, black) padding-box,
        conic-gradient(from var(--rotate), #d68282, black, #d68282) border-box;

    box-shadow: 0 0 30px #d68282;

    animation: borderAnimate 4s linear infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    border-width: 0px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0px #d68282;
}
.box img{
    padding-inline: 1px;
    width: 100%;
}
.box p, h1{
    padding-inline: 25px;
    font-size: 1.2rem;
    text-align: center;
}
.box:hover{
    animation-play-state: running;
    border-width: 2px;
    box-shadow: 0 0 40px #d68282;
}
.box:hover p, .box:hover h1{
    color: #d68282;
}
/* @keyframes changeBG{
    from{
        background-color: #000;
        border-radius: 10px;
    }
    to{
        background-color: #d68282;
        border-radius: 50px;
     }
}
.box{
    border: 2px solid rgb(223, 7, 7);
    height: 300px;
    width: 450px;
    animation: changeBG 2s ease-in-out infinite alternate;
} */